@font-face {
    font-family: 'Soria';
    src: url('../fonts/soria-font.ttf');
}

#navbar, footer {
    font-family: 'Soria', serif;
    letter-spacing: 1px;
    font-size: 16px;
}
body{
    font-family: 'helvetica', sans-serif;
    letter-spacing:normal;
}

body  h2{
    font-family: 'Soria', serif;
    letter-spacing: .5px;
}

.bgcolor-1{
    background-color: rgba(229, 198, 149,0.6);
    width: auto;
}

.bgcolor-2{
    background-color: rgba(242, 221, 208,1);
}

.bgcolor-3{
    background-color: rgba(201, 168, 85,1);
}

.opacity{
    opacity: .6;
}

.p10{
    padding: 10px;
}

.bg-castle{
    background-image: url("../img/westmister.png");
    background-position: center;
    background-size:cover ;
}

.npl{
    padding-left:0 !important;
}

.npr{
    padding-right:0 !important;
}

.navbar-wrapper{
    border-bottom: solid 1px #000;
}

.navbar-default{
    background-color: transparent;
}

.navbar {
    min-height: 80px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-link{
    margin-top: 10px;
    font-weight: bold;
    color: #000 !important;
    font-size: 2rem;
}

.navbar .active a{
    background-color: transparent !important;
    font-weight: bolder;
    border-bottom: 2px solid #BEAA57;
    display: inline-block;
}
.center-block{
    margin: 0 auto !important;
    display: block !important;
    float: none !important;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: none;
}

.content-wrapper{
    min-height: calc(100vh - 280px);
}

.section-divider {
    margin: 10px 0; /* Space out the Bootstrap <hr> more */
}

.section-inner{
    padding: 20px 0px 50px 0px ;
}

.section-inner p{
    padding: 10px 60px;
}

.section-inner h2{
    text-align: center;
    color: #000;
    margin: 30px;
    text-decoration: underline;
    text-decoration-color: #BEAA57 ;
    text-decoration-line: underline;
    text-decoration-skip: ink;
}

.carrusel-item{
    padding: 5px;
}

.carrusel-item img{
    width: 100%;
}

.submit_button{
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    float: none;
    display: block;
    width: 30%;
    color: #000;
    font-size: 2rem;
}

.newsletter_form input{
    font-size: 2rem;
    border-radius: 0 !important;
}

#newsletter-secction .logo{
    margin-top: 50% !important;
}

#newsletter-secction .bridge{
    margin-top: 15% !important;
}

#footer{
    background-color: black;
    min-height: 100px;
    color:#FFF;
    clear:both;
}

#footer li{
    text-align: center;
    list-style: none;
    margin: 10px;

}

#footer li a{
    color: white;
}

#footer img{
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    
}


.contact-title{
    text-align: center;
    font-size: 10rem;
}

#contact-form{
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact-form .form-group{
    margin-bottom: 20px !important;
}

#contact-form .submit_button{
    padding: 10px;
    text-align: center;
    display: block;
    width: 20%;
    color: #000;
    font-size: 2rem;
    float: right;
    margin-right: 10px;
}

.bottom-menu{
    padding: 20px;
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
    .navbar-brand{
        width: 80%;
        height: 70px;
    }

    .navbar-collapse{
        text-align: center;
    }

    .section-inner p {
        padding: 10px 20px;
    }

    .featurette-image{
        display: none !important;
    }

    .about-us .featurette-heading{
        padding-top: 30px !important;
    }

    .contact-title{
        font-size: 5rem;
    }

    #contact-form .submit_button{
        padding: 10px;
        text-align: center;
        display: block;
        width: 80%;
        color: #000;
        font-size: 2rem;
        float: none;
        margin:0 auto;
    }

    #footer ul{
        padding: 0;
        margin: 0;
    }
    #footer li{
        text-align: center;
        list-style: none;
        margin: 10px;

    }

    #footer img{
        text-align: center;
        width: 30%;
        display: block;
        margin-top: 10px;
    }


}